body {margin: 0px;}

.main-container{ 
    width: 800px;
    height: 600px;
    position: fixed;
} 

.row{
   height: 70px;
   align-items: flex-start;
   background-color: rgba(34, 110, 224, 0.856);
   border-right: 1px solid black;
}

h1{ display: block;
    margin: auto;
    font-weight: bold;
    align-self: center;
}

p.f{
    display: flex;
    margin-top: -10px;
    font-size: 16px;
}

button.cnopka {
    margin-left: 280px;
    justify-self: self-end;
    align-self:flex-start;
}

img.crest {
    display: flex;
    border: none;
    width:10px;
    padding-bottom: inherit;
  
}

.main-content {
    width: 800px;
    height: 400px;
    background-color: rgb(36, 17, 146);
    justify-content: space-around;
        overflow: auto; 
        
       
}

.message {
    display: flex; 
    align-items: center;
    
}

.left-part {
    display: flex;
    width: 250px;
    height: auto;
    flex-flow: column;
    justify-content: flex-start;
}

.right-part{
    display: flex;
    background-color:rgb(30, 41, 104);
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    border-left: 1px solid black;
}

.people{  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: rgba(34, 110, 224, 0.856);
    margin: 10px;
    font-size: 25px;  
}

.name2 { 
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right:16px;
    color: blanchedalmond;
    
}

p.name { 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

p.chat_name {
 width: 500px; 
 color: rgb(255, 255, 255);
 margin-bottom:-10px;

} 

p.chat{  
    width: 500px;
    height: fit-content;
    color: black;
    background-color: #fafbfc;
    text-align: initial;
}   
